.settings/.jsdtscope
.settings/org.eclipse.php.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.validation.prefs
.settings/org.sonarlint.eclipse.core.prefs
.project
assets/images/articles
.buildpath
XirtCMS/widgets/text_header/config.xml
XirtCMS/widgets/text_header/index.php
XirtCMS/widgets/text_header/views/default.tpl
