/**************
 Grid Lay-out *
**************/
.table-row-folder,
.table-row-item_id {
	width: 100px;
}

.table-row-published {
	width: 75px;
}

.table-row-commands {
	width: 125px;
}

@media screen and (min-width: 576px) {

	.table-row-published {
		width: 125px;
	}

	.table-row-commands {
		width: 225px;
	}

}

.list-group {
	overflow: auto;
	max-height: 166px;
	margin-top: 10px;
	margin-bottom: 0;
}


/***************
 Modal Lay-out *
***************/
.list-group-item {
	position: relative;
}

.btn-remove {
	position: absolute;
	right: 20px;
	width: auto !important;
	padding: 0 5px;
}