/**************
 Grid Lay-out *
**************/
.table-row-id,
.table-row-users,
.table-row-authorization_level {
	width: 115px;
}

.table-row-commands {
	width: 80px;
}


/***************
 Modal Lay-out *
***************/
input[name="usergroup_authorization_level"] {
	width: 50px;
}