/**************
 Grid Lay-out *
**************/
.table-sm th.table-row-name,
.table-sm td.table-row-name {
	padding-left: 15px;
}

.table-row-commands {
	width: 75px;
}

@media screen and (min-width: 576px) {

	.table-row-commands {
		width: 125px;
	}

}