/**************
 Grid Lay-out *
**************/
.table-row-id {
	width: 100px;
}

.table-row-published {
	width: 75px;
}

.table-row-ordering,
.table-row-commands {
	width: 125px;
}

@media screen and (min-width: 576px) {

	.table-row-published {
		width: 125px;
	}

	.table-row-ordering,
	.table-row-commands {
		width: 225px;
	}

}