/**************
 Page Lay-out *
**************/
.box-container {
	background: rgba(255, 255, 255, 0.25) !important;
}

.navbar-toggler,
.navbar-collapse, .navbar-nav {
	display: none;
}


/***************
 Modal Lay-out *
***************/
form {
	max-width: 450px;
	margin: 10% auto;
}

.form-group:last-of-type {
	margin-bottom: 0;
}

.form-check-label {
	font-style: italic;
	font-size: 80%;
}