/**************
 Grid Lay-out *
**************/
.table-row-item_id,
.table-row-published {
	width: 100px;
}

.table-row-type,
.table-row-position {
	width: 150px;
}

.table-row-commands {
	width: 125px;
}

@media screen and (min-width: 576px) {

	.table-row-commands {
		width: 225px;
	}

}


/***************
 Modal Lay-out *
***************/
#optionsModal .modal-dialog {
	max-width: 750px;
}

label[for="opt-toggle-page"],
label[for="opt-page-default"] {
	font-style: italic;
	font-weight: normal;
	font-size: 80%;
}