/**************
 Grid Lay-out *
**************/
.table-row-item_id {
	width: 100px;
}

.table-row-type {
	width: 150px;
}

.table-row-default {
	width: 75px;
}

.table-row-commands {
	width: 125px;
}

@media screen and (min-width: 576px) {

	.table-row-default {
		width: 125px;
	}

	.table-row-commands {
		width: 225px;
	}

}


/***************
 Modal Lay-out *
***************/
#optionsModal .modal-dialog {
	max-width: 500px;
}