/**************
 Grid Lay-out *
**************/
.table {
	width: 100%;
}

.table-row-id {
	width: 100px;
}

.table-row-username {
	width: 100%;
}

.table-row-email,
.table-row-usergroup,
.table-row-real_name,
.table-row-dt_created {
	width: 200px;
}

.table-row-commands {
	width: 125px;
}

@media screen and (min-width: 576px) {

	.table-row-commands {
		width: 225px;
	}

}


/***************
 Modal Lay-out *
***************/
#optionsModal .modal-dialog {
	max-width: 750px;
}

textarea {
	height: 100px;
	resize: none;
}

h1 {
	padding-top: 7px;
}