/*************
 Grid Lay-out
*************/
.table-row-name .fa-home {
   margin-left: 10px;
}

.table-row-item_id,
.table-row-sitemap,
.table-row-ordering,
.table-row-published {
	width: 100px;
}

.table-row-commands {
	width: 175px;
}


/**************
 Modal Lay-out
**************/
.modal-dialog.configuration {
	max-width: 600px;
}

.modal-dialog.configuration input[name="menuitem_target_url"][disabled] {
	display: inline-block;
	padding-right: 3px;
	max-width: 65%;
}

.modal-dialog.configuration #btn-editor {
	float: right;	
	margin: 2px 0;
}

.modal-dialog.configuration .form-group.tabs {
	margin-bottom: -1px;
}

.modal-dialog.configuration .tab-content {
	padding: 15px 15px 0 15px;
	border:  1px #ddd solid;
}

@media screen and (min-width: 768px) {

	.modal-dialog.configuration .tab-content {
		padding: 15px 15px 0 0;
	}

}