<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE xirtcms>
<xirtcms type="module">
	<name>Home (automatic rerouting)</name>
	<version>1.0</version>
	<authorName>A.G. Gideonse</authorName>
	<authorUrl>http://www.xirtcms.com</authorUrl>
	<copyright>XirtCMS</copyright>
	<license>GNU General Public License</license>
</xirtcms>